.titleh1{
  position:fixed;
  top:0px;
  left:0px;
  margin:0px;
  text-align:center;
  background-color:#000;
  color:#fff;
  padding:10px 0px;
  width:100%;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  font-size:80px;
}
.titleh1 img{
  width:80px;
  left:10px;
  top:10px;
  position: absolute;
}

.divapks{
  margin:5px;
  margin-top:130px;
  padding:1%;
  background-color:#fff;
  border-radius:3px;
}
.divapk{width:30%;
  border:1px solid gray;
  padding-bottom:5px;
  border-radius:10px;
}
.divapk .iconinfo{
  display:inline-flex;
  position:absolute;
  margin-left:1%;
  margin-top:3px;
  width:6%;
}

.divapk .iconapk{
  width:68%;
  margin-top:10px;
  margin-left:10px;
  border-radius:15px;
}
.divapk button{
  background-repeat:no-repeat;
  background-size:30px;
  background-position:5px;
  background-image:url("Flecha abajo.png");
  background-color:#6f6;
  padding:5px 5px 5px 40px;
  border:1px solid gray;
  font-size:30px;
  border-radius:8px;
  font-family:calibri;
}
.divapk p{
  font-size:28px;
  font-family:calibri;
}



body{font-family: calibri;
  background-color:#ddd;
}

.divinfoapk{
  background-color:#fff;
  margin: 5px;
  margin-top:130px;
  border-radius:3px;
  padding:1%;
}
.divinfoapk .imgapkinfo{
  width:49%;
}

