.titleh1{
  z-index: 100;
  position:fixed;
  top:0px;
  left:0px;
  margin:0px;
  text-align:center;
  background-color:#000;
  color:#fff;
  padding:10px 0px;
  width:100%;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:0px;
  font-size:80px;
}
.titleh1 .botonmenu{
  position: absolute;
  right:10px;
  top:10px;
  background-image:url(Menu.png);
  background-size:100% 100%;
  background-color: transparent;
  width:90px;
  height:90px;
  border:1px solid gray;
  border-radius:10px;
}

.botonmenu:hover{
  border:1px solid red;
}

.titleh1 .botonbuscar{
  position: absolute;
  right:110px;
  top:10px;
  background-image:url(Lupa.jpg);
  background-size:100% 100%;
  background-color: transparent;
  width:90px;
  height:90px;
  border:1px solid gray;
  border-radius:10px;
}
.botonbuscar:hover{
  border:1px solid red;
}
 
#busqueda{margin-bottom:-110px;
  margin-top:112px;
  margin-left:50%;
  margin-right:0px;
  padding:3px;
  background-color:#000000dd;
  border:1px solid #000;
  border-bottom-left-radius:10px;
  display:none;
  
}
#busqueda #textobusqueda{
  font-size:26px;
  width:calc(98% - 50px);
  border-bottom-left-radius:10px;
}
#busqueda #botonbusquedaform{
  width:40px;
  height:40px;
  background-image:url(Lupa.jpg);
  background-size:100% 100%;
  background-color: transparent;
  border:1px solid gray;
  border-radius:6px;
}

#menu{
  position:fixed;
  padding:10px;
  top:112px;
  right:0px;
  background-color:#000000dd;
  border:1px solid #000;
  border-bottom-left-radius:10px;
  width:40%;
  
}
#menu .linkpagesmenu{
  display:block;
  color:#00f;
  padding:10px;
  text-decoration:none;
  margin-top:5px;
  border-radius:10px;
  background-color:#ffffffcc;
  font-size:36px;
  max-width:90%;
}
#menu h1{
  margin:0px;
  color:#fff;
  text-align:center;
  background-color:#777;
  border-radius:10px;
  font-size:60px;
}

.titleh1 img{
  width:80px;
  left:10px;
  top:10px;
  position: absolute;
}

.divapks{
  margin:5px;
  margin-top:130px;
  padding:1%;
  background-color:#fff;
  border-radius:3px;
}
.divapk{width:30%;
  border:1px solid gray;
  padding:5px;
  border-radius:10px;
}
.divapk a{
  text-decoration:none;
}

.divapk .iconapk{
  width:66%;
  border-radius:15px;
}
.botondescarga{
  background-repeat:no-repeat;
  background-size:30px;
  background-position:5px;
  background-image:url("Flecha abajo.png");
  background-color:#6f6;
  padding:5px 5px 5px 40px;
  border:1px solid gray;
  font-size:30px;
  border-radius:8px;
  font-family:calibri;
}
.divapk p{
  font-size:28px;
  font-family:calibri;
}



body{font-family: calibri;
  background-color:#ddd;
}

.divinfoapk{
  background-color:#fff;
  margin: 5px;
  margin-top:130px;
  border-radius:3px;
  padding:10px;
}
.divinfoapk .imgapkinfo{
  width:40%;
  border-radius:10px;
  display: inline-block;
}
.divinfoapk h1{
  text-align: center;
  font-size:60px;
}
.divinfoapk p{
  font-size:20px;
  max-width:55%;
  display: inline-block;
  margin-left:5px;
}
.divinfoapk .botondescarga{
  position: absolute;
  margin-top:0px;
  left:50%;
  color:#040;
  font-size:50px;
  background-size:50px;
  background-repeat:no-repeat;
  padding:5px 5px 5px 60px;
  
}
.imgscreenshot{
  width: calc(33% - 15px);
  border: 4px solid gray;
  margin:1px;
  border-radius:6px;
}


footer{width:100%;
  background-color:#111;
  color:#fff;
  font-size:40px;
  position: absolute;
  bottom:0px;
  left:0px;
  text-align: center;
}

.divacercade{
  background-color:#fff;
  margin: 5px;
  margin-top:130px;
  border-radius:3px;
  padding:10px;
}
.divacercade h1{
  width:100%;
  text-align:center;
}
.divacercade h4{
  font-size:12px;
}

.divacercade .botonredsocial{
  width:100px;
  height:100px;
  background-color:black;
  border:3px solid gray;
  background-size:100% 100%;
  border-radius:20px;
  margin-left:10px;
}

.divcontenido{
  margin:5px;
  margin-top:130px;
  padding:1%;
  background-color:#fff;
  border-radius:3px;
}
.titulocontenido{
  font-size:30px;
  text-align:center;
}

#cajamensaje{
  width:calc(100% - 20px);
  padding:10px;
  position:fixed;
  bottom:0px;
  left:0px;
  rigth:0px;
  max-height:180px;
  background-color:#fff;
  border-top:2px soldi gray;
}
#cajamensaje textarea{
  width:60%;
  height:130px;
  padding:10px;
  font-size:18px;
  border-radius:8px;
}
#cajamensaje input{
  font-size:20px;
  border-radius:10px;
}